#manageGamesContainer {
    margin-top: 55px;
    margin-bottom: 55px;
}

#manageGamesContainer h1 {
    text-align: center;
}

#actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#buttonContainer button {
    margin-top: 10px;
}

#games {
    margin-top: 55px;
}

#games h2 {
    text-align: center;
}

#gamesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
}

#gameTile {
    box-sizing: border-box;
    width: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    transition: transform .2s;
}

@media (max-width: 768px) {
    /* Na manjim ekranima jedan game tile zauzima 50%
    širine retka kako bi u jednom retku bila po 2 game tilea. */
    #gameTile {
        width: 50%;
    }
}

@media (max-width: 576px) {
    /* Na vrlo malim ekranima jedan game tile zauzima 100%
    širine retka kako bi u jednom retku bio po 1 game tile. */
    #gameTile {
        width: 100%;
    }
}

#gameTile:hover {
    transform: scale(1.04);
}

#errorSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}