<div class="game">
    <a [routerLink]="['/gameProfile', game.id]">
        <img [src]="game.imagePath" alt="gameImage" id="gameImage">
        <h4>{{game.name}}</h4>
    </a>
    <a [routerLink]="['/gameAuthorProfile', game.gameAuthorId]" 
        id="gamesAuthorName">{{game.gameAuthorName}}</a>
    <div id="buttonContainer" *ngIf="editMode">
        <button class="buttonYellow" [routerLink]="['/editGame', game.id]">
            <img src="../../assets/icons/edit.svg" 
                alt="Edit" 
                title="Edit">
        </button>
        <button class="buttonRed" (click)="deleteGame(game.id)">
            <img src="../../assets/icons/delete.svg" 
                alt="Delete"
                title="Delete">
        </button>
    </div>
</div>