#gameData {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 55px;
}

#gameImage {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

#errorSpan {
    font-weight: bold;
    width: 100%;
    margin-top: 55px;
    text-align: center;
}

#gameAuthorName {
    color: var(--grey);
}

#gameAuthorName a:link, 
#gameAuthorName a:visited {
    color: var(--grey);
}

#gameAuthorName a:hover {
    color: var(--purple);
}

#gameDescription {
    white-space: pre-wrap;
}

button {
    margin-left: 0px;
}
