<div id="loginContainer">
    <app-logo></app-logo>

    <form [formGroup]="loginForm" (submit)="onSubmit()">
        <h2>Login</h2>

        <label for="username">Username:</label>
        <input type="text" 
            name="username"
            placeholder="Username"  
            id="username"
            formControlName="username"
            [ngClass]="{'inputInvalid': isInputInvalid(username) || submitError}">

        <span class="errorText" 
            *ngIf="isInputInvalid(username) || submitError">
            Username not entered.</span>

        <label for="password">Password:</label>
        <input type="password" 
            name="password"
            placeholder="Password"
            id="password"
            formControlName="password"
            [ngClass]="{'inputInvalid': isInputInvalid(password) || submitError}">

        <span class="errorText" 
            *ngIf="isInputInvalid(password) || submitError">
            Password not entered.</span>

        <div id="buttonContainer">
            <button type="submit" class="buttonBlue">Login</button>
            <button type="button" class="buttonYellow" routerLink="/register">Register</button>
        </div>

        <span class="errorText"
            id="loginErrorMessage" 
            *ngIf="loginErrorMessage">{{loginErrorMessage}}</span>
    </form>
</div>