<div id="login-container">
    <app-logo></app-logo>

    <form [formGroup]="loginForm" (submit)="onSubmit()">
        <h2>Login</h2>

        <label for="username">Username:</label>
        <input type="text" 
            name="username"
            placeholder="Username"  
            id="username"
            formControlName="username"
            [ngClass]="{'input-invalid': isInputInvalid(username) || submitError}">

        <span class="error-text" 
            *ngIf="isInputInvalid(username) || submitError">
            Username not entered.</span>

        <label for="password">Password:</label>
        <input type="password" 
            name="password"
            placeholder="Password"
            id="password"
            formControlName="password"
            [ngClass]="{'input-invalid': isInputInvalid(password) || submitError}">

        <span class="error-text" 
            *ngIf="isInputInvalid(password) || submitError">
            Password not entered.</span>

        <div id="btn-container">
            <button type="submit" class="btn-blue">Login</button>
            <button type="button" class="btn-yellow" routerLink="/register">Register</button>
        </div>

        <span class="error-text"
            id="login-error-message" 
            *ngIf="loginErrorMessage">{{loginErrorMessage}}</span>
    </form>
</div>