<div class="container"
    id="loginFormContainer">
    
    <app-logo id="logo"></app-logo>

    <form [formGroup]="loginForm" 
        (submit)="onSubmit()"
        id="loginForm">

        <h2>Login</h2>

        <label for="usernameInput">Username:</label>
        <input type="text" 
            name="usernameInput"
            placeholder="Username"  
            id="usernameInput"
            formControlName="usernameInput"
            [ngClass]="{'inputInvalid': isInputInvalid(usernameInput)}">

        <span class="errorText" 
            *ngIf="isInputInvalid(usernameInput)">
            Username not entered.</span>

        <label for="passwordInput">Password:</label>
        <input type="password" 
            name="passwordInput"
            placeholder="Password"
            id="passwordInput"
            formControlName="passwordInput"
            [ngClass]="{'inputInvalid': isInputInvalid(passwordInput)}">

        <span class="errorText" 
            *ngIf="isInputInvalid(passwordInput)">
            Password not entered.</span>

        <div id="buttonContainer">
            <button type="submit" 
                class="buttonGreen">
                Login</button>
            <button type="button" 
                class="buttonYellow" 
                routerLink="/register">
                Register</button>
        </div>

        <span class="errorText"
            id="loginErrorMessage" 
            *ngIf="loginErrorMessage">
            {{loginErrorMessage}}</span>
    </form>
</div>