nav {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
}

app-logo {
    width: 250px;
}

#buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

button {
    padding: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    z-index: 1;
}

button img {
    width: 100%;
}