<nav>
    <app-logo></app-logo>
    <div class="separator"></div>
    <ul id="userData">
        <li><span>Current user: {{user.username}}</span></li>
    </ul>
    <div class="separator"></div>
    <ul>
        <li>
            <a routerLink="/userProfile">Profile</a>
        </li>
        <li *ngIf="user.level==userLevels.ADMIN">
            <a routerLink="/administration">Administration</a>
        </li>
    </ul>
    <div class="separator"></div>
    <ul>
        <li>
            <a routerLink="/">Game library</a>
        </li>
    </ul>
    <div class="separator"></div>
    <ul>
        <li>
            <button class="buttonRed" 
                (click)="logout()">Logout</button>
        </li>
    </ul>
</nav>