.container {
    margin-top: 55px;
}

#actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#actions h2 {
    margin-top: 50px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#buttonContainer button {
    margin-top: 10px;
}

#gameAuthorsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    min-width: 300px;
}

table td {
    border-width: 1px;
    border-color: var(--grey);
    border-style: solid;
    padding: 10px;
}

#gameAuthorsContainer table button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#gameAuthorsContainer table button img {
    width: 20px;
    height: 20px;
}

#errorSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}