<div class="container"
    id="manageGameAuthorsContainer">
    <div id="actions">
        <h1>Welcome to game authors management!</h1>
        <span>What would You like to do?</span>
        <div id="buttonContainer">
            <button class="buttonGreen" 
                routerLink="/addGameAuthor">
                Add new game author</button>
            <button class="buttonRed" 
                routerLink="/administration">
                Back to administration
            </button>
        </div>
    </div>
    <span class="errorText" 
        id="errorSpan"
        *ngIf="gameAuthors.length == 0">
        No game authors to show.</span>
    <div id="gameAuthors">
        <h2>Delete or edit game athors:</h2>
        <table *ngIf="gameAuthors.length > 0">
            <tr *ngFor="let gameAuthor of gameAuthors">
                <td>{{gameAuthor.name}}</td>
                <td class="buttonContainer">
                    <button class="buttonYellow" 
                        [routerLink]="['/editGameAuthor', gameAuthor.id]">
                        <img src="../../assets/icons/edit.svg" 
                            alt="Edit" 
                            title="Edit">
                    </button>
                </td>
                <td class="buttonContainer">
                    <button class="buttonRed" 
                        (click)="deleteGameAuthor(gameAuthor.id)">
                        <img src="../../assets/icons/delete.svg" 
                            alt="Delete"
                            title="Delete">
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>