.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
}

app-game-tile {
    box-sizing: border-box;
    width: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    transition: transform .2s;
}

@media (max-width: 769px) {
    app-game-tile {
        width: 50%;
    }
}

@media (max-width: 575px) {
    app-game-tile {
        width: 100%;
    }
}

app-game-tile:hover {
    transform: scale(1.04);
}

#errorSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}