#administrationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

#administrationContainer h1 {
    text-align: center;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#buttonContainer button {
    margin-top: 10px;
}
