.container {
    margin-top: 55px;
}

#gamesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

app-game-tile {
    box-sizing: border-box;
    flex-basis: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    transition: transform .2s;
}

app-game-tile:hover {
    transform: scale(1.04);
}
