<div id="editGameContainer">
    <form [formGroup]="editGameForm" 
    (submit)="onSubmit()">

        <h2>Edit game</h2>

        <label for="nameInput">Name:</label>
        <input type="text" 
            name="nameInput"
            placeholder="Name"  
            id="nameInput"
            formControlName="nameInput"
            [ngClass]="{'inputInvalid': isInputInvalid(nameInput)}">
        <span class="errorText" 
            *ngIf="isInputInvalid(nameInput)">
            Game name not entered.</span>

        <label for="linkInput">Link:</label>
        <input type="url" 
            name="linkInput"
            placeholder="www.playablegame.com"
            id="linkInput"
            formControlName="linkInput"
            [ngClass]="{'inputInvalid': isInputInvalid(linkInput)}">
        <span class="descriptionText">
            Link to a playable instance of a game.</span> 
        <span class="errorText" 
            *ngIf="isInputInvalid(linkInput)">
            Link not entered.</span>

        <label for="sourceLinkInput">Source link:</label>
        <input type="url" 
            name="sourceLinkInput"
            placeholder="www.gamesource.com"
            id="sourceLinkInput"
            formControlName="sourceLinkInput"
            [ngClass]="{'inputInvalid': isInputInvalid(sourceLinkInput)}">
        <span class="descriptionText">
            Link to a repository containing game source code.</span> 
        <span class="errorText" 
            *ngIf="isInputInvalid(sourceLinkInput)">
            Source link not entered.</span>

        <label for="imageInput">Image:</label>
        <input type="file" 
            name="imageInput"
            id="imageInput"
            formControlName="imageInput"
            (change)="onFileChange($event)"
            [ngClass]="{'inputInvalid': isInputInvalid(imageInput)}">
        <span class="errorText" 
            *ngIf="isInputInvalid(imageInput)">
            Game image not selected.</span>

        <label for="descriptionInput">Description:</label>
        <textarea name="descriptionInput" 
            id="descriptionInput" 
            cols="30"
            rows="5"
            formControlName="descriptionInput"
            [ngClass]="{'inputInvalid': isInputInvalid(descriptionInput)}">Description</textarea>
        <span class="errorText" 
            *ngIf="isInputInvalid(descriptionInput)">
            Description not entered.</span>

        <label for="gameAuthorIdInput">Game author:</label>
        <select name="gameAuthorIdInput" 
            id="gameAuthorIdInput"
            formControlName="gameAuthorIdInput">
            <option *ngFor="let gameAuthor of gameAuthors" 
                [value]="gameAuthor.id">{{gameAuthor.name}}</option>
        </select>
        <span class="descriptionText">
            If game author is not available, add new game author on the administration page.</span> 
        <span class="errorText" 
            *ngIf="isInputInvalid(gameAuthorIdInput)">
            Game author not selected.</span>

        <div id="buttonContainer">
            <button type="submit" 
                class="buttonBlue" 
                (click)="onSubmit()">Edit game</button>
            <button type="button" 
                class="buttonRed" 
                routerLink="/manageGames">Cancel</button>
        </div>

        <span class="errorText"
            id="editGameErrorMessage" 
            *ngIf="editGameErrorMessage">
            {{editGameErrorMessage}}</span>
    </form>
</div>