<div id="addGameAuthorFormContainer">
    <form [formGroup]="addGameAuthorForm" 
        (submit)="onSubmit()"
        id="addGameAuthorForm">

        <h2>Add game author</h2>

        <label for="nameInput">Name:</label>
        <input type="text" 
            name="nameInput"
            placeholder="Name"  
            id="nameInput"
            formControlName="nameInput"
            [ngClass]="{'inputInvalid': isInputInvalid(nameInput)}">
        <span class="errorText" 
            *ngIf="isInputInvalid(nameInput)">
            Name not entered.</span>

        <div id="buttonContainer">
            <button type="submit" 
                class="buttonBlue" 
                (click)="onSubmit()">Add game author</button>
            <button type="button" 
                class="buttonRed" 
                routerLink="/manageGameAuthors">Cancel</button>
        </div>

        <span class="errorText"
            id="addGameAuthorErrorMessage" 
            *ngIf="addGameAuthorErrorMessage">{{addGameAuthorErrorMessage}}</span>
    </form>
</div>