<form [formGroup]="newCommentForm" 
    (submit)="onSubmit()"
    id="newCommentForm">

    <label for="usernameInput">Username:</label>
    <input type="text" 
        id="usernameInput" 
        placeholder="Username"
        formControlName="usernameInput">

    <label for="commentInput">Comment:</label>
    <textarea type="text" 
        id="commentInput" 
        cols="50" 
        rows="5"
        formControlName="commentInput"
        [ngClass]="{'input-invalid': isInputInvalid(commentInput)}"></textarea>
    <div class="error"
        *ngIf="isInputInvalid(commentInput)">
        Comment not entered.</div>

    <div class="btn-container">
        <button type="submit" 
            class="buttonGreen"
            [disabled]="!newCommentForm.valid">
            Send</button>
    </div>
</form>