@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap");

:root {
    --red: rgb(237, 102, 99);
    --green: rgb(3, 196, 161);
    --blue: rgb(26, 166, 183);
    --yellow: rgb(255, 200, 92);
    --latte: rgb(248, 241, 241);
    --grey: rgb(206, 212, 218);
    --darkGrey: rgb(22, 22, 29);
    --white: rgb(255, 255, 255);

    --transparentRed: rgba(237, 102, 99, 0.3);
    --transparentGreen: rgba(3, 196, 161, 0.3);
    --transparentBlue: rgba(26, 166, 183, 0.3);
    --transparentYellow: rgba(255, 200, 92, 0.3);
    --transparentGrey: rgba(206, 212, 218, 0.3);
}

body {
    margin: 0px;
    padding: 0px;
}

body, input, textarea, button {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background-color: var(--latte);
    color: rgb(22, 22, 29)
}

input {
    background-color: var(--white);
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 5px;
    outline: 0px;
    padding: 10px;
}

input:focus {
    box-shadow: var(--transparentGrey) 0px 0px 0px 3px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    font-weight: bold;
    color: var(--white);
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}

.btn-red {
    background-color: var(--red);
}

.btn-green {
    background-color: var(--green);
}

.btn-green:focus {
    box-shadow: var(--transparentGreen) 0px 0px 0px 3px;
}

.btn-blue {
    background-color: var(--blue);
}

.btn-blue:focus {
    box-shadow: var(--transparentBlue) 0px 0px 0px 3px;
}

.btn-yellow {
    background-color: var(--yellow);
}

.btn-yellow:focus {
    box-shadow: var(--transparentYellow) 0px 0px 0px 3px;
}

.error-text {
    color: var(--red);
}
