#userProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

#userProfileContainer h2 {
    margin-top: 55px;
}

#gameDataTable {
    border-collapse: collapse;
    margin-top: 15px;
}

#gameDataTable th {
    text-align: left;
}

#gameDataTable td {
    padding: 10px;
    border-color: var(--grey);
    border-width: 1px;
    border-style: solid;
}

#gameDataTable img {
    max-width: 100px;
}
