<div id="registerFormContainer">
    <app-logo id="logo"></app-logo>

    <form [formGroup]="registerForm" 
        (submit)="onSubmit()"
        id="registerForm">

        <h2>Register</h2>

        <label for="usernameInput">Username:</label>
        <input type="text" 
            name="usernameInput"
            placeholder="Username"
            id="usernameInput"
            formControlName="usernameInput"
            [ngClass]="{'inputInvalid': isInputInvalid(usernameInput)}">

        <span class="errorText"
            *ngIf="isInputInvalid(usernameInput)">
            Username shorter than 4 characters.</span>

        <label for="passwordInput">Password:</label>
        <input type="password"
            name="passwordInput" 
            placeholder="Password" 
            id="passwordInput"
            formControlName="passwordInput"
            [ngClass]="{'inputInvalid': isInputInvalid(passwordInput)}">

        <span class="errorText"
            *ngIf="isInputInvalid(passwordInput)">
            Password not entered.</span>

        <label for="repeatPasswordInput">Repeat password:</label>
        <input type="password" 
            name="repeatPasswordInput"
            placeholder="Repeat password"
            id="repeatPasswordInput" 
            formControlName="repeatPasswordInput"
            [ngClass]="{'inputInvalid': isInputInvalid(repeatPasswordInput) || !passwordsMatch()}">
        
        <span class="errorText"
            *ngIf="isInputInvalid(repeatPasswordInput) || !passwordsMatch()">
            Passwords do not match.</span>

        <label for="emailInput">Email:</label>
        <input type="emailInput" 
            name="emailInput"    
            placeholder="email@mail.com"
            id="emailInput" 
            formControlName="emailInput"
            [ngClass]="{'inputInvalid': isInputInvalid(emailInput)}">

        <span class="error"
            *ngIf="isInputInvalid(emailInput)">
            Email not valid.</span>

        <div id="buttonContainer">
            <button type="submit" 
                class="buttonGreen">
                Register</button>
            <button routerLink="/login" 
                class="buttonYellow">
                Back to login</button>
        </div>

        <span class="errorText"
            id="registerErrorMessage" 
            *ngIf="registerErrorMessage">
            {{registerErrorMessage}}</span>
    </form>
</div>