#registerFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

#logo {
    max-width: 300px;
}

#registerForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 55px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    box-sizing: border-box;
}

#registerForm h2 {
    text-align: center;
}

#buttonContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#registerErrorMessage {
    text-align: center;
    margin-top: 30px;
}