<div id="registerContainer">
    <app-logo></app-logo>

    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <h2>Register</h2>

        <label for="username">Username:</label>
        <input type="text" 
            name="username"
            placeholder="Username"
            id="username"
            formControlName="username"
            [ngClass]="{'inputInvalid': isInputInvalid(username) || submitError}">

        <span class="errorText"
            *ngIf="isInputInvalid(username) || submitError">
            Username shorter than 4 characters.</span>

        <label for="password">Password:</label>
        <input type="password"
            name="password" 
            placeholder="Password" 
            id="password"
            formControlName="password"
            [ngClass]="{'inputInvalid': isInputInvalid(password) || submitError}">

        <span class="errorText"
            *ngIf="isInputInvalid(password) || submitError">
            Password not entered.</span>

        <label for="repeatPassword">Repeat password:</label>
        <input type="password" 
            name="repeatPassword"
            placeholder="Repeat password"
            id="repeatPassword" 
            formControlName="repeatPassword"
            [ngClass]="{'inputInvalid': isInputInvalid(repeatPassword) || submitError || !passwordsMatch()}">
        
        <span class="errorText"
            *ngIf="isInputInvalid(repeatPassword) || submitError || !passwordsMatch()">
            Passwords do not match.</span>

        <label for="email">Email:</label>
        <input type="email" 
            name="email"    
            placeholder="email@mail.com"
            id="email" 
            formControlName="email"
            [ngClass]="{'inputInvalid': isInputInvalid(email) || submitError}">

        <span class="error"
            *ngIf="isInputInvalid(email) || submitError">
            Email not valid.</span>

        <div id="buttonContainer">
            <button routerLink="/login" 
                class="buttonYellow">Back to login</button>
            <button type="submit" 
                class="buttonGreen">Register</button>
        </div>

        <span class="errorText"
            id="registerErrorMessage" 
            *ngIf="registerErrorMessage">{{registerErrorMessage}}</span>
    </form>
</div>